Repository MattHalloran/NLN: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

customization improvements p4
  packages/server/src/rest/landingPage.ts
  packages/server/src/types/landingPage.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/components/admin/ABTestEditingBanner/ABTestEditingBanner.tsx
  packages/ui/src/components/admin/ABTestEditingBanner/index.ts
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useABTestQueryParams.ts
  packages/ui/src/hooks/useABTestTracking.ts
  packages/ui/src/pages/admin/AdminContactPage/AdminContactPage.tsx
  packages/ui/src/pages/admin/AdminHomepageABTesting/AdminHomepageABTestingNew.tsx
  packages/ui/src/pages/admin/AdminHomepageABTesting/index.ts
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  packages/ui/src/pages/admin/AdminHomepageServices/AdminHomepageServices.tsx
  packages/ui/src/pages/admin/index.ts
  packages/ui/src/pages/main/HomePage/HomePage.tsx
  packages/ui/src/stores/landingPageStore.ts
Due: eslint --fix, prettier --write

customization improvements p5
  packages/server/src/data/ab-tests.json
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/rest/analytics.ts
  packages/server/src/rest/index.ts
  packages/server/src/rest/landingPage.ts
  packages/server/src/types/landingPage.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/components/admin/ABTestEditingBanner/ABTestEditingBanner.tsx
  packages/ui/src/hooks/useABTestQueryParams.ts
  packages/ui/src/hooks/useABTestSession.ts
  packages/ui/src/hooks/useABTestTracking.ts
  packages/ui/src/hooks/useAnalyticsTracking.ts
  packages/ui/src/pages/admin/AdminContactPage/AdminContactPage.tsx
  packages/ui/src/pages/admin/AdminHomepageABTesting/AdminHomepageABTesting.tsx
  packages/ui/src/pages/admin/AdminHomepageABTesting/AdminHomepageABTestingNew.tsx
  packages/ui/src/pages/admin/AdminHomepageBranding/AdminHomepageBranding.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  packages/ui/src/pages/admin/AdminHomepageNewsletter/AdminHomepageNewsletter.tsx
  packages/ui/src/pages/admin/AdminHomepageServices/AdminHomepageServices.tsx
  packages/ui/src/pages/main/HomePage/HomePage.tsx
  packages/ui/src/stores/landingPageStore.ts
  packages/ui/src/utils/statistics.ts
Due: eslint --fix, prettier --write

cleanup p3
  packages/server/src/data/landing-page-content.json
  packages/server/src/data/variants.json
  packages/server/src/rest/dashboard.integration.test.ts
  packages/server/src/rest/landingPage.integration.test.ts
  packages/server/src/rest/landingPage/contentHelpers.ts
  packages/server/src/rest/landingPage/middlewares.ts
  packages/server/src/rest/landingPage/variantsRoutes.ts
  packages/server/src/utils/logger.ts
  packages/server/src/worker/email/queue.integration.test.ts
Due: eslint --fix, prettier --write

lighthouse updates
  lighthouserc.cjs
  package.json
  scripts/lighthouse-prod.sh
Due: none

security improvements p2
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/index.ts
Due: eslint --fix, prettier --write

customization improvements p7
  packages/server/src/data/variants.json
  packages/ui/src/pages/admin/AdminHomepageABTesting/AdminHomepageABTestingNew.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
Due: eslint --fix, prettier --write

customization improvements p8
  packages/server/src/data/variants.json
  packages/ui/src/pages/admin/AdminHomepageBranding/AdminHomepageBranding.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  packages/ui/src/pages/admin/AdminHomepageNewsletter/AdminHomepageNewsletter.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
  packages/ui/src/pages/admin/AdminHomepageServices/AdminHomepageServices.tsx
  packages/ui/src/pages/admin/AdminSeasonalContentPage/AdminSeasonalContentPage.tsx
Due: eslint --fix, prettier --write

customization improvements p9
  packages/ui/src/components/PageContainer/PageContainer.tsx
  packages/ui/src/components/types.ts
  packages/ui/src/pages/admin/AdminContactPage/AdminContactPage.tsx
  packages/ui/src/pages/admin/AdminHomepageBranding/AdminHomepageBranding.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  packages/ui/src/pages/admin/AdminHomepageNewsletter/AdminHomepageNewsletter.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
  packages/ui/src/pages/admin/AdminHomepageServices/AdminHomepageServices.tsx
Due: eslint --fix, prettier --write

Image upload fixes
  packages/server/codegen.yml
  packages/server/package.json
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/db/seeds/init.ts
  packages/server/src/rest/assets.ts
  packages/server/src/rest/images.ts
  packages/server/src/types.ts
  packages/server/src/utils/fileIO.ts
  packages/shared/src/consts/statusCodes.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  packages/ui/src/pages/main/GalleryPage/GalleryPage.tsx
  packages/ui/src/utils/serverUrl.ts
Due: eslint --fix, prettier --write

image upload fixes p2
  packages/server/src/data/variants.json
  packages/server/src/db/migrations/20251027000000_add_image_retention_policy/migration.sql
  packages/server/src/db/migrations/20251027141500_add_cleanup_log_table/migration.sql
  packages/server/src/db/prisma.ts
  packages/server/src/db/schema.prisma
  packages/server/src/logger.ts
  packages/server/src/middleware/rateLimiter.ts
  packages/server/src/rest/images.ts
  packages/server/src/rest/index.ts
  packages/server/src/rest/landingPage.ts
  packages/server/src/rest/landingPage/landingPageService.ts
  packages/server/src/rest/logs.ts
  packages/server/src/rest/storage.ts
  packages/server/src/utils/fileIO.ts
  packages/server/src/utils/imageLabelSync.ts
  packages/server/src/utils/setupDatabase.ts
  packages/server/src/worker/imageCleanup/process.ts
  packages/server/src/worker/imageCleanup/queue.ts
  packages/server/tools/migrateHeroBannerLabels.ts
  packages/shared/src/consts/model.ts
  packages/shared/src/consts/ui.ts
  packages/ui/src/Routes.tsx
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/components/lists/ImageList/ImageList.tsx
  packages/ui/src/components/lists/WrappedImageList/WrappedImageList.tsx
  packages/ui/src/pages/admin/AdminGalleryPage/AdminGalleryPage.tsx
  packages/ui/src/pages/admin/AdminMainPage/AdminMainPage.tsx
  packages/ui/src/pages/admin/AdminStoragePage/AdminStoragePage.tsx
  packages/ui/src/pages/admin/AdminSystemLogs/AdminSystemLogs.tsx
  packages/ui/src/pages/admin/AdminSystemLogs/index.ts
  packages/ui/src/pages/admin/index.ts
  scripts/cleanup-unlabeled-images.sh
  scripts/scheduled-image-cleanup.sh
  scripts/setup-image-cleanup-cron.sh
Due: eslint --fix, prettier --write

image upload filxes p3
  IMAGE_FLOW_DIAGRAM.md
  packages/server/src/data/landing-page-content.json
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/db/migrations/20251027000000_add_image_retention_policy/migration.sql
  packages/server/src/db/migrations/20251028184142_add_orphaned_records_to_cleanup_log/migration.sql
  packages/server/src/db/schema.prisma
  packages/server/src/index.ts
  packages/server/src/middleware/rateLimiter.ts
  packages/server/src/rest/images.ts
  packages/server/src/rest/index.ts
  packages/server/src/rest/landingPage/landingPageService.ts
  packages/server/src/rest/storage.ts
  packages/server/src/schema/types.ts
  packages/server/src/types/landingPage.ts
  packages/server/src/utils/distributedLock.ts
  packages/server/src/utils/fileIO.ts
  packages/server/src/utils/imageLabelSync.ts
  packages/server/src/utils/landingPageWatcher.ts
  packages/server/src/utils/setupDatabase.ts
  packages/server/src/worker/imageCleanup/process.ts
  packages/server/src/worker/labelSync/process.ts
  packages/server/src/worker/labelSync/queue.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/components/InteractiveElements/InteractiveElements.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
  packages/ui/src/pages/admin/AdminSystemLogs/AdminSystemLogs.tsx
  scripts/archived/cleanup-unlabeled-images.sh
  scripts/archived/delete-orphaned-files.sh
  scripts/archived/scheduled-image-cleanup.sh
  scripts/archived/setup-image-cleanup-cron.sh
Due: eslint --fix, prettier --write

image upload fixes p4
  packages/server/src/data/landing-page-content.json
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/rest/landingPage.ts
  packages/server/src/rest/storage.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/components/InteractiveElements/InteractiveElements.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
  packages/ui/src/pages/admin/AdminStoragePage/AdminStoragePage.tsx
Due: eslint --fix, prettier --write

customization improvements p10
  packages/server/src/data/landing-page-content.json
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/ui/src/components/ServiceShowcase/ServiceShowcase.tsx
  packages/ui/src/pages/admin/AdminHomepageServices/AdminHomepageServices.tsx
Due: eslint --fix, prettier --write

customization improvements p11
  packages/server/src/data/landing-page-content.json
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/ui/src/components/ContactInfo/ContactInfo.tsx
  packages/ui/src/components/LocationVisit/LocationVisit.tsx
  packages/ui/src/components/ServiceShowcase/ServiceShowcase.tsx
  packages/ui/src/components/navigation/Footer/Footer.tsx
  packages/ui/src/pages/admin/AdminHomepageServices/AdminHomepageServices.tsx
  packages/ui/src/utils/businessHours.ts
Due: eslint --fix, prettier --write

customization improvements p12
  packages/server/package.json
  packages/server/src/data/variants.json
  packages/server/src/db/migrations/20251029000000_add_newsletter_subscription/migration.sql
  packages/server/src/db/schema.prisma
  packages/server/src/middleware/rateLimiter.ts
  packages/server/src/rest/index.ts
  packages/server/src/rest/newsletter.ts
  packages/shared/src/consts/ui.ts
  packages/ui/src/Routes.tsx
  packages/ui/src/api/rest/client.ts
  packages/ui/src/components/InteractiveElements/InteractiveElements.tsx
  packages/ui/src/pages/admin/AdminHomepageHub/AdminHomepageHub.tsx
  packages/ui/src/pages/admin/AdminHomepageNewsletter/AdminHomepageNewsletter.tsx
  packages/ui/src/pages/admin/AdminMainPage/AdminMainPage.tsx
  packages/ui/src/pages/admin/AdminNewsletterSubscribers/AdminNewsletterSubscribers.tsx
  packages/ui/src/pages/admin/AdminNewsletterSubscribers/index.ts
  packages/ui/src/pages/admin/index.ts
Due: eslint --fix, prettier --write

customization improvements p13
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/rest/landingPage.ts
  packages/server/src/types/landingPage.ts
  packages/shared/src/consts/ui.ts
  packages/ui/src/Routes.tsx
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/components/AboutStory/AboutStory.tsx
  packages/ui/src/pages/admin/AdminHomepageAbout/AdminHomepageAbout.tsx
  packages/ui/src/pages/admin/AdminHomepageAbout/index.ts
  packages/ui/src/pages/admin/AdminHomepageHub/AdminHomepageHub.tsx
  packages/ui/src/pages/admin/index.ts
Due: eslint --fix, prettier --write

customization improvements p14
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/rest/landingPage.ts
  packages/server/src/types/landingPage.ts
  packages/shared/src/consts/ui.ts
  packages/ui/src/Routes.tsx
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/components/SocialProof/SocialProof.tsx
  packages/ui/src/components/types.ts
  packages/ui/src/pages/admin/AdminHomepageHub/AdminHomepageHub.tsx
  packages/ui/src/pages/admin/AdminHomepageSocialProof/AdminHomepageSocialProof.tsx
  packages/ui/src/pages/admin/AdminHomepageSocialProof/index.ts
  packages/ui/src/pages/admin/AdminNewsletterSubscribers/AdminNewsletterSubscribers.tsx
  packages/ui/src/pages/admin/AdminSystemLogs/AdminSystemLogs.tsx
  packages/ui/src/pages/admin/index.ts
Due: eslint --fix, prettier --write

customization improvements p15
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/rest/landingPage.ts
  packages/server/src/types/landingPage.ts
  packages/ui/src/components/InteractiveElements/InteractiveElements.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
Due: eslint --fix, prettier --write

customization improvements p16
  packages/server/src/data/variants.json
  packages/server/src/rest/landingPage.ts
  packages/server/src/types/landingPage.ts
  packages/shared/src/consts/ui.ts
  packages/ui/src/Routes.tsx
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/components/LocationVisit/LocationVisit.tsx
  packages/ui/src/pages/admin/AdminHomepageHub/AdminHomepageHub.tsx
  packages/ui/src/pages/admin/AdminHomepageLocation/AdminHomepageLocation.tsx
  packages/ui/src/pages/admin/AdminHomepageLocation/index.ts
  packages/ui/src/pages/admin/index.ts
Due: eslint --fix, prettier --write

customization improvements p17
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/rest/landingPage.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/components/LocationVisit/LocationVisit.tsx
  packages/ui/src/pages/admin/AdminHomepageLocation/AdminHomepageLocation.tsx
Due: eslint --fix, prettier --write

deployment prep p1
  docker-compose-prod.yml
Due: none

deployment prep p2
  docker-compose-prod.yml
  scripts/validate-env.sh
Due: none

Fix linting issues for deployment prep
  DEPLOYMENT.md
  docker-compose-prod.yml
  packages/server/Dockerfile-prod
  packages/server/package.json
  packages/server/src/index.ts
  packages/shared/package.json
  packages/shared/src/utils/sitemap.ts
  packages/ui/package.json
  packages/ui/src/sitemap.ts
  packages/ui/src/utils/serverUrl.ts
  packages/ui/vite.config.ts
  scripts/applyMigrations.sh
  scripts/archived/cleanup-unlabeled-images.sh
  scripts/archived/delete-orphaned-files.sh
  scripts/archived/scheduled-image-cleanup.sh
  scripts/archived/setup-image-cleanup-cron.sh
  scripts/backup.sh
  scripts/build.sh
  scripts/connectToServer.sh
  scripts/deploy.sh
  scripts/develop.sh
  scripts/domainCheck.sh
  scripts/find-orphaned-files.sh
  scripts/getSecrets.sh
  scripts/keylessSsh.sh
  scripts/lighthouse-prod.sh
  scripts/proxySetup.sh
  scripts/rollback.sh
  scripts/secrets_list.txt
  scripts/server.sh
  scripts/setSecrets.sh
  scripts/setup.sh
  scripts/shared.sh
  scripts/ui.sh
  scripts/utils.sh
  scripts/validate-env.sh
  yarn.lock
Due: eslint --fix, prettier --write

Fix additional ESLint issues
  packages/server/.eslintrc.json
  packages/server/package.json
  packages/server/src/rest/logs.ts
  packages/server/src/utils/emailService.ts
  packages/server/src/utils/fileIO.ts
  scripts/build.sh
  yarn.lock
Due: eslint --fix, prettier --write

Fix TypeScript errors in logs.ts for production deployment
  packages/server/src/rest/logs.ts
Due: eslint --fix, prettier --write

Remove deprecated plants endpoint and tests
  packages/server/src/rest/api.integration.test.ts
  packages/server/src/rest/index.ts
  packages/server/src/rest/plants.ts
Due: eslint --fix, prettier --write

deployment prep p4
  DEPLOYMENT.md
Due: none

Fix UI server to bind to all interfaces (0.0.0.0) instead of localhost
  packages/ui/scripts/start-production.sh
Due: none

Update DEPLOYMENT.md
  DEPLOYMENT.md
Due: none

deployment fixes p1
  docker-compose-prod.yml
  scripts/server.sh
Due: none

Fix ESLint errors in AdminHomepageHeroBanner
  packages/server/src/data/landing-page-content.json
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/ui/src/components/Hero/Hero.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
Due: eslint --fix, prettier --write

production sync p1
  scripts/sync-from-production.sh
  yarn.lock
Due: none

production sync p2
  scripts/sync-from-production.sh
Due: none

production sync p3
  packages/server/src/data/landing-page-content.json
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
Due: prettier --write

block navigation on unsaved changes
  packages/server/src/data/variants.json
  packages/ui/src/hooks/useBlockNavigation.ts
  packages/ui/src/pages/admin/AdminHomepageAbout/AdminHomepageAbout.tsx
  packages/ui/src/pages/admin/AdminHomepageBranding/AdminHomepageBranding.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  packages/ui/src/pages/admin/AdminHomepageLocation/AdminHomepageLocation.tsx
  packages/ui/src/pages/admin/AdminHomepageNewsletter/AdminHomepageNewsletter.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
  packages/ui/src/pages/admin/AdminHomepageSections/AdminHomepageSections.tsx
  packages/ui/src/pages/admin/AdminHomepageServices/AdminHomepageServices.tsx
  packages/ui/src/pages/admin/AdminHomepageSocialProof/AdminHomepageSocialProof.tsx
Due: eslint --fix, prettier --write

Lint autofix
  packages/ui/src/api/rest/client.ts
  packages/ui/src/components/AboutStory/AboutStory.tsx
  packages/ui/src/components/InteractiveElements/InteractiveElements.tsx
  packages/ui/src/components/LocationVisit/LocationVisit.tsx
  packages/ui/src/components/PageContainer/PageContainer.tsx
  packages/ui/src/components/ServiceShowcase/ServiceShowcase.tsx
  packages/ui/src/components/SocialProof/SocialProof.tsx
  packages/ui/src/components/types.ts
  packages/ui/src/pages/admin/AdminHomepageABTesting/AdminHomepageABTestingNew.tsx
  packages/ui/src/pages/admin/AdminSystemLogs/AdminSystemLogs.tsx
  packages/ui/src/pages/main/HomePage/HomePage.tsx
  packages/ui/src/stores/landingPageStore.ts
  packages/ui/src/utils/businessHours.ts
  packages/ui/src/utils/colorContrast.ts
Due: eslint --fix, prettier --write
