Repository MattHalloran/NLN: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove Apollo GraphQL server and migrate to REST-only backend
  packages/server/src/index.ts
  packages/server/src/logger.ts
  packages/server/src/rest/index.ts
  packages/server/src/schema/address.ts
  packages/server/src/schema/business.ts
  packages/server/src/schema/customer.ts
  packages/server/src/schema/index.ts
Due: eslint --fix, prettier --write

Migrate frontend from Apollo GraphQL to REST API
  packages/ui/src/App.tsx
  packages/ui/src/Routes.tsx
  packages/ui/src/api/fragment/index.ts
  packages/ui/src/api/mutation/index.ts
  packages/ui/src/api/mutation/login.ts
  packages/ui/src/api/mutation/resetPasswordMutation.ts
  packages/ui/src/api/mutation/signUp.ts
  packages/ui/src/api/query/index.ts
  packages/ui/src/api/query/skus.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/api/rest/index.ts
  packages/ui/src/components/breadcrumbs/AdminTabs/AdminTabs.tsx
  packages/ui/src/components/cards/index.ts
  packages/ui/src/components/cards/types.ts
  packages/ui/src/components/dialogs/index.ts
  packages/ui/src/components/dialogs/types.ts
  packages/ui/src/components/navigation/Footer/Footer.tsx
  packages/ui/src/components/navigation/Navbar/NavList.tsx
  packages/ui/src/components/navigation/Navbar/SideMenu.tsx
  packages/ui/src/components/tables/index.ts
  packages/ui/src/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  packages/ui/src/forms/LogInForm/LogInForm.tsx
  packages/ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
  packages/ui/src/forms/SignUpForm/SignUpForm.tsx
  packages/ui/src/forms/index.ts
  packages/ui/src/index.tsx
  packages/ui/src/pages/admin/AdminGalleryPage/AdminGalleryPage.tsx
  packages/ui/src/pages/admin/AdminMainPage/AdminMainPage.tsx
  packages/ui/src/pages/admin/index.ts
  packages/ui/src/pages/index.ts
  packages/ui/src/pages/legal/PrivacyPolicyPage/PrivacyPolicyPage.tsx
  packages/ui/src/pages/legal/TermsPage/TermsPage.tsx
  packages/ui/src/pages/main/GalleryPage/GalleryPage.tsx
  packages/ui/src/types.ts
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/plantTools.ts
  packages/ui/src/utils/printAvailability.ts
  packages/ui/src/utils/pubsub.ts
  packages/ui/src/utils/userActions.tsx
Due: eslint --fix, prettier --write

Update dependencies and optimize build configuration
  packages/server/package.json
  packages/ui/analyze-bundle.js
  packages/ui/package.json
  packages/ui/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

files that didn't make it into the other commits
  .husky/pre-commit
  packages/server/scripts/start-production.sh
  packages/server/src/rest/assets.ts
  packages/server/src/rest/auth.ts
  packages/server/src/rest/dashboard.ts
  packages/server/src/rest/images.ts
  packages/ui/scripts/start-production.sh
Due: eslint --fix, prettier --write

Make production start scripts executable
  packages/server/scripts/start-production.sh
  packages/ui/scripts/start-production.sh
Due: none

Improve authentication security and functionality
  packages/server/src/auth.ts
  packages/server/src/db/models/customer.ts
  packages/server/src/index.ts
Due: eslint --fix, prettier --write

Remove archived shopping cart and inventory features from UI
  packages/server/src/rest/auth.ts
  packages/ui/src/pages/admin/AdminMainPage/AdminMainPage.tsx
Due: eslint --fix, prettier --write

Configure Jest testing infrastructure for UI and server packages
  package.json
  packages/server/jest.config.cjs
  packages/server/package.json
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/__mocks__/fileMock.js
  packages/ui/src/setupTests.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add comprehensive unit tests for UI utilities, hooks, and API functions
  packages/ui/src/api/utils/errorParser.test.ts
  packages/ui/src/api/utils/removeTypename.test.ts
  packages/ui/src/hooks/useDebounce.test.ts
  packages/ui/src/hooks/useDimensions.test.ts
  packages/ui/src/hooks/useHistoryState.test.ts
  packages/ui/src/hooks/useWindowSize.test.ts
  packages/ui/src/utils/arrayTools.test.ts
  packages/ui/src/utils/businessHours.test.ts
  packages/ui/src/utils/consts.test.ts
  packages/ui/src/utils/cookies.test.ts
  packages/ui/src/utils/devLogger.test.ts
  packages/ui/src/utils/device.test.ts
  packages/ui/src/utils/formatData.test.ts
  packages/ui/src/utils/imageTools.test.ts
  packages/ui/src/utils/index.test.ts
  packages/ui/src/utils/makeID.test.ts
  packages/ui/src/utils/objectTools.test.ts
  packages/ui/src/utils/opacityHex.test.ts
  packages/ui/src/utils/openLink.test.ts
  packages/ui/src/utils/stringTools.test.ts
Due: eslint --fix, prettier --write

Remove GraphQL schema and infrastructure from server package
  packages/server/src/context.ts
  packages/server/src/db/models/customer.ts
  packages/server/src/db/models/index.ts
  packages/server/src/depthLimit.ts
  packages/server/src/rateLimit.ts
  packages/server/src/schema/address.ts
  packages/server/src/schema/business.ts
  packages/server/src/schema/customer.ts
  packages/server/src/schema/email.ts
  packages/server/src/schema/feedback.ts
  packages/server/src/schema/image.ts
  packages/server/src/schema/index.ts
  packages/server/src/schema/landingPageContent.ts
  packages/server/src/schema/phone.ts
  packages/server/src/schema/role.ts
  packages/server/src/schema/root.ts
  packages/server/src/schema/seasonalContent.ts
  packages/server/src/schema/task.ts
  packages/server/src/schema/types.ts
  packages/server/src/utils/resolveGraphQLInfo.ts
  packages/server/src/worker/uploadAvailability/process.test.ts
  packages/server/src/worker/uploadAvailability/process.ts
  packages/server/src/worker/uploadAvailability/queue.ts
Due: eslint --fix, prettier --write

Remove unused UI components and utilities
  packages/ui/src/components/ErrorBoundary/ErrorBoundaryTest.tsx
  packages/ui/src/components/FeaturedPlants/FeaturedPlants.tsx
  packages/ui/src/components/ScrollAnimations/ScrollAnimations.tsx
  packages/ui/src/components/TabPanel/TabPanel.tsx
  packages/ui/src/components/tables/EnhancedTableHead/EnhancedTableHead.tsx
  packages/ui/src/components/tables/EnhancedTableToolbar/EnhancedTableToolbar.tsx
  packages/ui/src/components/tables/index.ts
  packages/ui/src/components/wrappers/StyledModal/StyledModal.tsx
  packages/ui/src/components/wrappers/index.ts
  packages/ui/src/reportWebVitals.ts
  packages/ui/src/route/sitemap.tsx
  packages/ui/src/utils/devLogger.test.ts
  packages/ui/src/utils/devLogger.ts
  packages/ui/src/utils/plantTools.ts
  packages/ui/src/utils/printAvailability.ts
Due: eslint --fix, prettier --write

Add comprehensive unit tests for server utilities
  packages/server/src/error.test.ts
  packages/server/src/logger.test.ts
  packages/server/src/utils/fileIO.test.ts
  packages/server/src/utils/objectTools.test.ts
  packages/server/src/utils/random.test.ts
Due: eslint --fix, prettier --write

Update core functionality and remove obsolete dependencies
  packages/server/package.json
  packages/server/src/error.ts
  packages/server/src/index.ts
  packages/server/src/utils/index.ts
  packages/ui/package.json
  packages/ui/src/api/index.ts
  packages/ui/src/api/utils/index.ts
  packages/ui/src/components/cards/index.ts
  packages/ui/src/components/cards/types.ts
  packages/ui/src/components/dialogs/types.ts
  packages/ui/src/components/index.ts
  packages/ui/src/icons/common.tsx
  packages/ui/src/pages/main/HomePage/HomePage.tsx
  packages/ui/src/route/index.ts
  packages/ui/src/types.ts
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/userActions.tsx
  packages/ui/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Improve type safety, error handling, and migrate ESLint configuration
  .eslintrc.json
  .nvmrc
  eslint.config.js
  package.json
  packages/server/package.json
  packages/server/scripts/start-production.sh
  packages/server/src/db/seeds/init.ts
  packages/server/src/error.ts
  packages/server/src/index.ts
  packages/server/src/rest/dashboard.integration.test.ts
  packages/server/src/rest/landingPage.integration.test.ts
  packages/server/src/types/express.d.ts
  packages/server/tsconfig.eslint.json
  packages/ui/package.json
  packages/ui/scripts/start-production.sh
  packages/ui/tsconfig.eslint.json
  scripts/applyMigrations.sh
  scripts/backup.sh
  scripts/build.sh
  scripts/connectToServer.sh
  scripts/deploy.sh
  scripts/develop.sh
  scripts/domainCheck.sh
  scripts/getSecrets.sh
  scripts/keylessSsh.sh
  scripts/proxySetup.sh
  scripts/rollback.sh
  scripts/secrets_list.txt
  scripts/server.sh
  scripts/setSecrets.sh
  scripts/setup.sh
  scripts/shared.sh
  scripts/ui.sh
  scripts/utils.sh
  scripts/validate-env.sh
  yarn.lock
Due: eslint --fix, prettier --write

Fix critical caching race condition and improve E2E testing infrastructure
  E2E_TESTING.md
  e2e/admin/hero-banner.spec.ts
  e2e/fixtures/auth.ts
  e2e/fixtures/test-data.ts
  e2e/hero-data.setup.ts
  e2e/pages/admin-contact.page.ts
  e2e/pages/admin-home.page.ts
  package.json
  packages/server/src/rest/api.integration.test.ts
  packages/server/src/rest/auth.ts
  packages/server/src/rest/dashboard.integration.test.ts
  packages/server/src/rest/landingPage.integration.test.ts
  packages/server/src/rest/landingPage.ts
  packages/ui/src/pages/admin/AdminContactPage/AdminContactPage.tsx
  packages/ui/src/pages/admin/AdminHomePage/AdminHomePage.tsx
  packages/ui/src/pages/admin/AdminSeasonalContentPage/AdminSeasonalContentPage.tsx
  playwright.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

deployment prep p2
  packages/server/scripts/start-production.sh
  packages/shared/src/consts/ui.ts
  packages/ui/scripts/start-production.sh
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/components/navigation/Navbar/Navbar.tsx
  packages/ui/src/components/navigation/Navbar/SideMenu.tsx
  packages/ui/src/icons/common.tsx
  packages/ui/src/pages/main/FormPage/FormPage.tsx
  packages/ui/src/utils/userActions.tsx
  scripts/applyMigrations.sh
  scripts/backup.sh
  scripts/build.sh
  scripts/connectToServer.sh
  scripts/deploy.sh
  scripts/develop.sh
  scripts/domainCheck.sh
  scripts/getSecrets.sh
  scripts/keylessSsh.sh
  scripts/proxySetup.sh
  scripts/rollback.sh
  scripts/secrets_list.txt
  scripts/server.sh
  scripts/setSecrets.sh
  scripts/setup.sh
  scripts/shared.sh
  scripts/ui.sh
  scripts/utils.sh
  scripts/validate-env.sh
Due: eslint --fix, prettier --write

logo update p2
  packages/ui/public/tree-logo.png
  packages/ui/src/assets/img/nln-logo-colorized.png
  packages/ui/src/components/navigation/Navbar/Navbar.tsx
Due: eslint --fix, prettier --write

deployment prep p3
  e2e/pages/admin-home.page.ts
  packages/server/src/index.ts
  packages/server/src/rest/landingPage.ts
  packages/ui/src/api/rest/client.ts
Due: eslint --fix, prettier --write

deployment prep p4
  .gitignore
  e2e/pages/admin-contact.page.ts
  e2e/pages/admin-home.page.ts
  e2e/setup/data-backup.setup.ts
  e2e/teardown/data-restore.teardown.ts
  packages/ui/src/components/dialogs/Snack/Snack.tsx
  packages/ui/src/pages/admin/AdminHomePage/AdminHomePage.tsx
  playwright.config.ts
Due: eslint --fix, prettier --write

deployment prep p5
  packages/server/src/rest/assets.ts
  packages/ui/src/components/Dropzone/Dropzone.tsx
  packages/ui/src/pages/admin/AdminHomePage/AdminHomePage.tsx
  packages/ui/src/pages/admin/AdminMainPage/AdminMainPage.tsx
  packages/ui/src/utils/cookies.test.ts
  packages/ui/src/utils/cookies.ts
Due: eslint --fix, prettier --write

deployment prep p6
  packages/ui/src/components/AboutStory/AboutStory.tsx
  packages/ui/src/components/InteractiveElements/InteractiveElements.tsx
  packages/ui/src/components/LocationVisit/LocationVisit.tsx
  packages/ui/src/components/ServiceShowcase/ServiceShowcase.tsx
  packages/ui/src/components/navigation/Navbar/NavList.tsx
  packages/ui/src/pages/main/AboutPage/AboutPage.tsx
Due: eslint --fix, prettier --write

deployment prep p7
  scripts/backup.sh
Due: none

deployment prep p8
  assets/public/hero-butterfly-XXL.jpg
  assets/public/hero-chicks-XXL.jpg
  assets/public/hero-plants-XXL.jpg
  assets/public/hero-rainbow-XXL.jpg
  packages/server/src/data/hero-banners.json
  packages/server/src/data/seasonal-plants.json
  packages/ui/src/pages/main/GalleryPage/GalleryPage.tsx
  scripts/cleanup-unlabeled-images.sh
  scripts/delete-orphaned-files.sh
  scripts/find-orphaned-files.sh
Due: eslint --fix, prettier --write

deployment prep p9
  .gitignore
  assets/public/hours.md
  packages/ui/src/pages/admin/AdminContactPage/AdminContactPage.tsx
Due: eslint --fix, prettier --write

Fix: Add schema.prisma volume mount for production deployment
  docker-compose-prod.yml
Due: none

Release v3.0.0: Fix Prisma schema mount and bump version
  packages/server/package.json
  packages/shared/package.json
  packages/ui/package.json
Due: prettier --write

Fix: Install bash in Alpine containers for production scripts
  packages/server/Dockerfile-prod
  packages/ui/Dockerfile-prod
Due: none

Fix: Correct script paths in package.json for production
  packages/server/package.json
  packages/ui/package.json
Due: prettier --write

Fix: Correct start-production.sh paths and Docker COPY
  packages/server/Dockerfile-prod
  packages/server/package.json
  packages/ui/Dockerfile-prod
  packages/ui/package.json
Due: prettier --write

Fix: Production Redis port and landing page content loading
  docker-compose-prod.yml
  packages/server/src/rest/landingPage.ts
  scripts/applyMigrations.sh
  scripts/backup.sh
  scripts/build.sh
  scripts/cleanup-unlabeled-images.sh
  scripts/connectToServer.sh
  scripts/delete-orphaned-files.sh
  scripts/deploy.sh
  scripts/develop.sh
  scripts/domainCheck.sh
  scripts/find-orphaned-files.sh
  scripts/getSecrets.sh
  scripts/keylessSsh.sh
  scripts/proxySetup.sh
  scripts/rollback.sh
  scripts/secrets_list.txt
  scripts/server.sh
  scripts/setSecrets.sh
  scripts/setup.sh
  scripts/shared.sh
  scripts/ui.sh
  scripts/utils.sh
  scripts/validate-env.sh
Due: eslint --fix, prettier --write

Update: Replace static content with dynamic hours and remove inaccurate acreage
  packages/ui/src/components/SocialProof/SocialProof.tsx
  packages/ui/src/pages/main/AboutPage/AboutPage.tsx
  packages/ui/src/utils/businessHours.ts
Due: eslint --fix, prettier --write

Fix: Remove /shopping redirect and open external links in new tab
  packages/ui/src/components/Hero/Hero.tsx
  packages/ui/src/components/LocationVisit/LocationVisit.tsx
  packages/ui/src/components/ServiceShowcase/ServiceShowcase.tsx
  packages/ui/src/components/navigation/Navbar/SideMenu.tsx
Due: eslint --fix, prettier --write

Founded year const
  packages/server/src/__tests__/fixtures/landingPage.ts
  packages/server/src/data/landing-page-settings.json
  packages/server/src/data/plant-tips.json
  packages/shared/src/consts/model.ts
  packages/ui/src/components/AboutStory/AboutStory.tsx
  packages/ui/src/components/Hero/Hero.tsx
  packages/ui/src/components/LocationVisit/LocationVisit.tsx
  packages/ui/src/components/SocialProof/SocialProof.tsx
  packages/ui/src/pages/main/AboutPage/AboutPage.tsx
Due: eslint --fix, prettier --write

customization improvements p2
  packages/server/src/data/__tests__/data-integrity.test.ts
  packages/server/src/data/hero-banners.json
  packages/server/src/data/landing-page-content.json
  packages/server/src/data/landing-page-settings.json
  packages/server/src/data/plant-tips.json
  packages/server/src/data/seasonal-plants.json
  packages/server/src/rest/landingPage.ts
  packages/ui/src/App.tsx
  packages/ui/src/api/rest/client.ts
  packages/ui/src/components/AboutStory/AboutStory.tsx
  packages/ui/src/components/Hero/Hero.tsx
  packages/ui/src/components/InteractiveElements/InteractiveElements.tsx
  packages/ui/src/components/LocationVisit/LocationVisit.tsx
  packages/ui/src/components/ServiceShowcase/ServiceShowcase.tsx
  packages/ui/src/components/SocialProof/SocialProof.tsx
  packages/ui/src/components/navigation/Navbar/Navbar.tsx
  packages/ui/src/hooks/useABTestSession.ts
  packages/ui/src/pages/admin/AdminContactPage/AdminContactPage.tsx
  packages/ui/src/pages/admin/AdminHomepageBranding/AdminHomepageBranding.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  packages/ui/src/pages/admin/AdminHomepageNewsletter/AdminHomepageNewsletter.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
  packages/ui/src/pages/admin/AdminHomepageSections/AdminHomepageSections.tsx
  packages/ui/src/pages/admin/AdminHomepageServices/AdminHomepageServices.tsx
  packages/ui/src/pages/admin/AdminSeasonalContentPage/AdminSeasonalContentPage.tsx
  packages/ui/src/pages/main/HomePage/HomePage.tsx
  packages/ui/src/utils/pubsub.ts
  packages/ui/src/utils/theme.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: packages/**/*.{ts,tsx}
  prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: packages/**/*.{json,md,yml,yaml})
