Repository MattHalloran/NLN: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

section reordering fix
  e2e/admin/form-persistence.spec.ts
  e2e/hero-data.setup.ts
  package.json
  packages/server/src/rest/landingPage.ts
  packages/server/src/rest/landingPage/variantsService.ts
  packages/server/src/utils/imageLabelSync.ts
  packages/ui/package.json
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/hooks/useAdminForm.ts
  packages/ui/src/pages/admin/AdminHomepageSections/AdminHomepageSections.tsx
  packages/ui/src/stores/landingPageStore.ts
  packages/ui/src/utils/errorMonitoring.ts
  scripts/smoke-test-admin.ts
  yarn.lock
Due: eslint --fix, prettier --write

seasonal content gallery button
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/components/InteractiveElements/InteractiveElements.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
  packages/ui/src/pages/admin/AdminHomepageSocialProof/AdminHomepageSocialProof.tsx
Due: eslint --fix, prettier --write

inactive hero images fix
  docker-compose.yml
  packages/server/Dockerfile
  packages/server/package.json
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/rest/landingPage.ts
  packages/server/src/types/landingPage.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/pages/admin/AdminHomepageABTesting/AdminHomepageABTestingNew.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  scripts/smoke-test-admin.ts
  yarn.lock
Due: eslint --fix, prettier --write

admin page updates
  packages/server/src/rest/landingPage.ts
  packages/ui/src/components/SocialProof/SocialProof.tsx
  packages/ui/src/pages/admin/AdminContactPage/AdminContactPage.tsx
  packages/ui/src/pages/admin/AdminHomepageAbout/AdminHomepageAbout.tsx
  packages/ui/src/pages/admin/AdminHomepageBranding/AdminHomepageBranding.tsx
  packages/ui/src/pages/admin/AdminHomepageLocation/AdminHomepageLocation.tsx
  packages/ui/src/pages/admin/AdminHomepageNewsletter/AdminHomepageNewsletter.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
  packages/ui/src/pages/admin/AdminHomepageSections/AdminHomepageSections.tsx
  packages/ui/src/pages/admin/AdminHomepageServices/AdminHomepageServices.tsx
  packages/ui/src/pages/admin/AdminHomepageSocialProof/AdminHomepageSocialProof.tsx
Due: eslint --fix, prettier --write

Homepage refresh fix
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/ui/src/hooks/useAdminForm.ts
  packages/ui/src/pages/admin/AdminContactPage/AdminContactPage.tsx
Due: eslint --fix, prettier --write

Slider dots selectable
  packages/ui/src/components/Hero/Dots.tsx
  packages/ui/src/components/Hero/Slider.tsx
Due: eslint --fix, prettier --write

Slider fade p1
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/ui/src/components/Hero/Dots.tsx
  packages/ui/src/components/Hero/Hero.tsx
  packages/ui/src/components/Hero/Slide.tsx
  packages/ui/src/components/Hero/Slider.tsx
  packages/ui/src/components/Hero/SliderContent.tsx
Due: eslint --fix, prettier --write

Slider fade p2
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/types/landingPage.ts
  packages/ui/src/components/Hero/Hero.tsx
  packages/ui/src/components/Hero/Slider.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
Due: eslint --fix, prettier --write

Slider fade p3
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/ui/src/components/Hero/Slide.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
Due: eslint --fix, prettier --write

Version bump
  package.json
  packages/server/package.json
  packages/shared/package.json
  packages/ui/package.json
Due: prettier --write

production prep p1
  packages/server/src/data/landing-page-variant-variant-homepage-official.json
  packages/server/src/data/variants.json
  packages/server/src/rest/landingPage/contentHelpers.ts
  packages/server/src/rest/landingPage/landingPageService.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
Due: eslint --fix, prettier --write

Fix Prisma client generation in Docker and TypeScript errors for v3.0.2
  packages/server/Dockerfile-prod
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
Due: eslint --fix, prettier --write

rate limit session validation fix
  packages/server/src/rest/auth.ts
Due: eslint --fix, prettier --write

version bump
  package.json
  packages/server/package.json
  packages/server/src/data/variants.json
  packages/shared/package.json
  packages/ui/package.json
Due: prettier --write

Version bump to 3.0.4
  package.json
  packages/server/package.json
  packages/shared/package.json
  packages/ui/package.json
Due: prettier --write

Harden production deployment workflow
  AGENTS.md
  DEPLOYMENT.md
  scripts/backup.sh
  scripts/build.sh
  scripts/deploy-production.sh
  scripts/deploy.sh
  scripts/domainCheck.sh
  scripts/restore-runtime-state.sh
  scripts/rollback.sh
  scripts/runtime-state.sh
  scripts/server.sh
  scripts/tests/__binstub
  scripts/tests/__stub.bash
  scripts/tests/backup.bats
  scripts/tests/deploy-production.bats
  scripts/tests/restore-runtime-state.bats
  scripts/tests/runtime-state.bats
  scripts/tests/vps-healthcheck.bats
  scripts/vps-healthcheck.sh
Due: none

Add explicit session restore endpoint
  packages/server/src/index.ts
  packages/server/src/middleware/rateLimiter.test.ts
  packages/server/src/middleware/rateLimiter.ts
  packages/server/src/rest/api.integration.test.ts
  packages/server/src/rest/auth.ts
  packages/server/src/rest/index.ts
  packages/ui/src/App.tsx
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
Due: eslint --fix, prettier --write

Tighten server logging and test hygiene
  packages/server/src/auth.integration.test.ts
  packages/server/src/logger.ts
  packages/server/src/middleware/csrf.ts
  packages/server/src/rest/dashboard.integration.test.ts
  packages/server/src/rest/images.ts
  packages/server/src/rest/landingPage.integration.test.ts
  packages/server/src/rest/landingPage.ts
  packages/server/src/rest/storage.ts
  packages/server/src/utils/fileIO.ts
  packages/server/src/utils/secureCompare.ts
  packages/server/src/worker/email/queue.integration.test.ts
  packages/server/src/worker/imageCleanup/process.ts
  packages/server/src/worker/labelSync/process.ts
Due: eslint --fix, prettier --write

Clean up UI derived state and diagnostics
  packages/ui/src/hooks/useABTestTracking.ts
  packages/ui/src/pages/admin/AdminStoragePage/AdminStoragePage.tsx
  packages/ui/src/pages/admin/AdminSystemLogs/AdminSystemLogs.tsx
  packages/ui/src/pages/legal/PrivacyPolicyPage/PrivacyPolicyPage.tsx
  packages/ui/src/pages/legal/TermsPage/TermsPage.tsx
  packages/ui/src/pages/main/GalleryPage/GalleryPage.tsx
  packages/ui/src/utils/csrf.ts
Due: eslint --fix, prettier --write

Clean up REST and UI type safety
  packages/server/src/__mocks__/bull.ts
  packages/server/src/rest/assets.ts
  packages/server/src/rest/auth.ts
  packages/server/src/rest/dashboard.ts
  packages/server/src/rest/images.ts
  packages/server/src/rest/landingPage.ts
  packages/server/src/rest/newsletter.ts
  packages/server/src/rest/storage.ts
  packages/server/src/utils/emailService.ts
  packages/server/src/utils/fileIO.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/components/Image/ImageWithFallback.tsx
  packages/ui/src/components/LazyMarkdown/LazyMarkdown.tsx
  packages/ui/src/components/breadcrumbs/BreadcrumbsBase/BreadcrumbsBase.tsx
  packages/ui/src/components/breadcrumbs/types.ts
  packages/ui/src/components/dialogs/AlertDialog/AlertDialog.tsx
  packages/ui/src/components/dialogs/PopoverWithArrow/PopoverWithArrow.tsx
  packages/ui/src/components/lists/ImageList/ImageList.tsx
  packages/ui/src/components/navigation/Navbar/Navbar.tsx
  packages/ui/src/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  packages/ui/src/forms/LogInForm/LogInForm.tsx
  packages/ui/src/forms/ResetPasswordForm/ResetPasswordForm.tsx
  packages/ui/src/forms/SignUpForm/SignUpForm.tsx
  packages/ui/src/hooks/useErrorPopover.tsx
  packages/ui/src/hooks/useHistoryState.ts
  packages/ui/src/icons/types.ts
  packages/ui/src/pages/Page/Page.tsx
  packages/ui/src/route/matcher.ts
  packages/ui/src/types.ts
  packages/ui/src/utils/objectTools.ts
  packages/ui/src/utils/pubsub.ts
Due: eslint --fix, prettier --write

Harden production PWA updates
  e2e/pwa.spec.ts
  package.json
  packages/ui/index.html
  packages/ui/package.json
  packages/ui/public/manifest.json
  packages/ui/public/site.webmanifest
  packages/ui/scripts/serve-production.js
  packages/ui/scripts/start-production.sh
  packages/ui/scripts/verify-pwa.js
  packages/ui/serve.json
  packages/ui/src/App.tsx
  packages/ui/src/Routes.tsx
  packages/ui/src/components/Hero/Slide.tsx
  packages/ui/src/components/Hero/Slider.tsx
  packages/ui/src/components/dialogs/Snack/Snack.tsx
  packages/ui/src/components/dialogs/SnackStack/SnackStack.tsx
  packages/ui/src/components/dialogs/types.ts
  packages/ui/src/components/lists/ImageList/ImageList.tsx
  packages/ui/src/components/navigation/Footer/Footer.tsx
  packages/ui/src/components/navigation/Navbar/NavList.tsx
  packages/ui/src/components/navigation/Navbar/SideMenu.tsx
  packages/ui/src/index.tsx
  packages/ui/src/pages/Page/Page.tsx
  packages/ui/src/pages/main/FormPage/FormPage.tsx
  packages/ui/src/pages/main/GalleryPage/GalleryPage.tsx
  packages/ui/src/pages/main/HomePage/HomePage.tsx
  packages/ui/src/pages/main/NotFoundPage/NotFoundPage.tsx
  packages/ui/src/serviceWorkerRegistration.ts
  packages/ui/src/sw-template.js
  packages/ui/src/utils/pubsub.ts
  packages/ui/src/utils/serverUrl.ts
  packages/ui/vite.config.ts
  packages/ui/workbox-build.js
  playwright.pwa.config.ts
Due: eslint --fix, prettier --write

test: tighten coverage and lint checks
  .github/workflows/ci.yml
  eslint.config.js
  package.json
  packages/server/src/data/__tests__/data-integrity.test.ts
  packages/server/src/error.test.ts
  packages/server/src/middleware/csrf.test.ts
  packages/server/src/worker/email/queue.integration.test.ts
  packages/server/vitest.config.mts
  packages/server/vitest.integration.config.mts
  packages/shared/package.json
  packages/shared/src/api/contentUtils.test.ts
  packages/shared/src/api/contentUtils.ts
  packages/shared/src/api/landingPageForms.test.ts
  packages/shared/src/api/landingPageForms.ts
  packages/shared/src/utils/array.ts
  packages/shared/src/utils/isEqual.ts
  packages/shared/tsconfig.json
  packages/shared/tsconfig.test.json
  packages/shared/vitest.config.ts
  packages/ui/package.json
  packages/ui/src/api/rest/client.test.ts
  packages/ui/src/api/rest/hooks.test.tsx
  packages/ui/src/components/ErrorBoundary/ErrorBoundary.test.tsx
  packages/ui/src/components/Hero/Hero.test.tsx
  packages/ui/src/pages/admin/AdminMainPage/AdminMainPage.test.tsx
  packages/ui/src/utils/csrf.test.ts
  packages/ui/vitest.config.ts
  scripts/coverage-summary.mjs
  yarn.lock
Due: eslint --fix, prettier --write

Strengthen test quality gates
  .github/workflows/ci.yml
  E2E_TESTING.md
  TESTING.md
  e2e/admin/legacy/contact-info.spec.ts
  e2e/admin/legacy/hero-banner.spec.ts
  e2e/admin/legacy/pages/admin-contact.page.ts
  e2e/admin/legacy/pages/admin-home.page.ts
  e2e/admin/legacy/seasonal-content.spec.ts
  e2e/fixtures/auth.ts
  e2e/hero-data.setup.ts
  package.json
  packages/server/TESTING.md
  packages/server/package.json
  packages/server/src/__tests__/integrationUtils.ts
  packages/server/src/middleware/csrf.test.ts
  packages/server/src/rest/dashboard.integration.test.ts
  packages/server/src/rest/landingPage.integration.test.ts
  packages/server/vitest.config.mts
  playwright.pwa.config.ts
  scripts/check-test-quality.sh
  scripts/coverage-summary.mjs
  scripts/tests/check-test-quality.bats
Due: eslint --fix, prettier --write

Harden production deployment flow
  DEPLOYMENT.md
  docs/production-deploy-hardening-plan.md
  scripts/backup.sh
  scripts/build.sh
  scripts/deploy-production.sh
  scripts/deploy-rehearsal.sh
  scripts/deploy.sh
  scripts/rollback.sh
  scripts/runtime-state.sh
  scripts/tests/backup.bats
  scripts/tests/deploy-production.bats
  scripts/tests/deploy-rehearsal.bats
  scripts/tests/restore-runtime-state.bats
  scripts/tests/runtime-state.bats
Due: none

Harden runtime restore and rollback verification
  docs/production-deploy-hardening-plan.md
  scripts/restore-runtime-state.sh
  scripts/rollback.sh
  scripts/tests/restore-runtime-state.bats
  scripts/tests/runtime-state.bats
Due: none

Fix deploy rehearsal env installation
  scripts/deploy-rehearsal.sh
  scripts/tests/deploy-rehearsal.bats
Due: none

Make rehearsal replace local containers
  scripts/deploy-rehearsal.sh
  scripts/tests/deploy-rehearsal.bats
Due: none

Install dependencies during deploy rehearsal
  scripts/deploy-rehearsal.sh
  scripts/tests/deploy-rehearsal.bats
Due: none

Generate Prisma client during production build
  scripts/build.sh
  scripts/tests/deploy-production.bats
Due: none

Fix clean deploy rehearsal build path
  scripts/build.sh
  scripts/deploy.sh
  scripts/tests/deploy-production.bats
  scripts/tests/deploy-rehearsal.bats
Due: none

Fix server migration backup credentials
  scripts/server.sh
  scripts/tests/deploy-production.bats
Due: none

Baseline rehearsal database before seeding
  scripts/deploy-rehearsal.sh
  scripts/tests/deploy-rehearsal.bats
Due: none

Run rehearsal baseline migrations on app network
  scripts/deploy-rehearsal.sh
  scripts/tests/deploy-rehearsal.bats
Due: none

Harden deployment and E2E runtime safety
  e2e/teardown/e2e-services.teardown.ts
  packages/server/src/rest/landingPage.integration.test.ts
  packages/server/src/rest/landingPage/landingPageCache.integration.test.ts
  playwright.shared.ts
  scripts/backup.sh
  scripts/build.sh
  scripts/deploy-production.sh
  scripts/deploy-rehearsal.sh
  scripts/deploy.sh
  scripts/restore-runtime-state.sh
  scripts/rollback.sh
  scripts/start-e2e-server.sh
  scripts/tests/backup.bats
  scripts/tests/deploy-production.bats
  scripts/tests/runtime-state.bats
  scripts/utils.sh
Due: eslint --fix, prettier --write

Harden production deploy workflow
  scripts/build.sh
  scripts/deploy.sh
  scripts/tests/deploy-production.bats
  scripts/tests/deploy-rehearsal.bats
Due: none
