Repository MattHalloran/NLN: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Use pinned Node version for deploy rehearsal
  scripts/deploy-rehearsal.sh
  scripts/setup.sh
  scripts/tests/deploy-production.bats
  scripts/tests/deploy-rehearsal.bats
Due: none

Fix deploy argument parsing
  scripts/deploy.sh
  scripts/tests/deploy-production.bats
Due: none

Allow quote escapes in lint rule
  eslint.config.js
Due: none

Harden production deploy readiness and recovery
  DEPLOYMENT.md
  package.json
  scripts/deploy-readiness.sh
  scripts/deploy-rehearsal.sh
  scripts/deploy.sh
  scripts/rollback.sh
  scripts/tests/deploy-production.bats
  scripts/tests/deploy-readiness.bats
  scripts/tests/deploy-rehearsal.bats
  scripts/tests/runtime-state.bats
Due: none

Require deploy readiness receipts
  .github/workflows/deploy-rehearsal.yml
  .gitignore
  DEPLOYMENT.md
  docs/production-deploy-hardening-plan.md
  package.json
  scripts/check-migrations.sh
  scripts/deploy-production.sh
  scripts/deploy-readiness.sh
  scripts/deploy-safety.sh
  scripts/deploy.sh
  scripts/tests/check-migrations.bats
  scripts/tests/deploy-production.bats
  scripts/tests/deploy-readiness.bats
Due: none

Close Redis and queues during server shutdown
  packages/server/src/__mocks__/redis.ts
  packages/server/src/index.ts
  packages/server/src/redisConn.test.ts
  packages/server/src/redisConn.ts
  packages/server/src/rest/landingPage.integration.test.ts
  packages/server/src/worker/email/queue.test.ts
  packages/server/src/worker/email/queue.ts
  packages/server/src/worker/imageCleanup/queue.ts
  packages/server/src/worker/labelSync/queue.ts
Due: eslint --fix, prettier --write

Add guarded browser validation receipts
  .github/workflows/ci.yml
  .gitignore
  E2E_TESTING.md
  TESTING.md
  e2e/admin/stable/contact-info-simple.spec.ts
  e2e/admin/stable/hero-banner-simple.spec.ts
  e2e/admin/stable/public-smoke-simple.spec.ts
  e2e/admin/stable/public-visual-simple.spec.ts
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-gallery-desktop-chromium-linux.png
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-home-desktop-chromium-linux.png
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-home-mobile-chromium-linux.png
  e2e/admin/stable/seasonal-content-simple.spec.ts
  e2e/fixtures/auth.ts
  e2e/fixtures/guarded.ts
  e2e/fixtures/runtime-guard.ts
  e2e/pwa.spec.ts
  e2e/teardown/e2e-services.teardown.ts
  package.json
  packages/ui/src/components/Dropzone/Dropzone.tsx
  packages/ui/src/components/Hero/Slide.tsx
  packages/ui/src/forms/SignUpForm/SignUpForm.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
  scripts/check-source-drift.sh
  scripts/check-test-quality.sh
  scripts/start-e2e-server.sh
  scripts/validation-receipt.mjs
Due: eslint --fix, prettier --write

Expand release validation coverage
  .github/workflows/ci.yml
  E2E_TESTING.md
  TESTING.md
  TEST_COVERAGE_MATRIX.md
  e2e/admin/stable/public-smoke-simple.spec.ts
  package.json
  packages/server/src/rest/newsletter.integration.test.ts
  packages/server/src/rest/newsletter.ts
  packages/server/vitest.integration.config.mts
  packages/ui/src/api/rest/client.test.ts
  playwright.pwa.config.ts
  playwright.shared.ts
  scripts/validation-receipt.mjs
Due: eslint --fix, prettier --write

Harden release evidence checks
  .github/workflows/ci.yml
  E2E_TESTING.md
  TESTING.md
  TEST_COVERAGE_MATRIX.md
  e2e/admin/stable/newsletter-subscribers-simple.spec.ts
  e2e/pwa.spec.ts
  package.json
  packages/server/src/rest/storage.integration.test.ts
  scripts/lighthouse-local.sh
  scripts/tests/validation-receipt.bats
  scripts/validation-receipt.mjs
Due: eslint --fix, prettier --write

Align account and gallery REST contracts
  packages/server/src/__tests__/integrationUtils.ts
  packages/server/src/db/models/customer.ts
  packages/server/src/rest/accountGalleryContracts.integration.test.ts
  packages/server/src/rest/auth.ts
  packages/shared/src/api/contracts.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/forms/SignUpForm/SignUpForm.tsx
  packages/ui/src/forms/accountForms.test.tsx
  packages/ui/src/pages/admin/AdminGalleryPage/AdminGalleryPage.test.tsx
Due: eslint --fix, prettier --write

Expand stable E2E trust coverage
  E2E_TESTING.md
  TESTING.md
  TEST_COVERAGE_MATRIX.md
  e2e/admin/stable/about-content-simple.spec.ts
  e2e/admin/stable/admin-gallery-simple.spec.ts
  e2e/admin/stable/public-account-flows-simple.spec.ts
  e2e/admin/stable/public-gallery-simple.spec.ts
  e2e/admin/stable/public-smoke-simple.spec.ts
  e2e/fixtures/runtime-guard.ts
  package.json
  packages/ui/src/hooks/useAdminForm.test.ts
  packages/ui/src/hooks/useAdminForm.ts
  packages/ui/src/pages/admin/AdminHomepageAbout/AdminHomepageAbout.tsx
  packages/ui/src/pages/main/AboutPage/AboutPage.tsx
  packages/ui/src/stores/landingPageStore.test.ts
  packages/ui/src/stores/landingPageStore.ts
  playwright.shared.ts
  scripts/start-e2e-server.sh
  scripts/validate-trusted.sh
  scripts/validation-receipt.mjs
Due: eslint --fix, prettier --write

Constrain CSRF analytics exemption
  packages/server/src/middleware/csrf.test.ts
  packages/server/src/middleware/csrf.ts
Due: eslint --fix, prettier --write

Add public accessibility validation gate
  .github/workflows/ci.yml
  E2E_TESTING.md
  TESTING.md
  e2e/admin/stable/contact-info-simple.spec.ts
  e2e/admin/stable/public-accessibility-simple.spec.ts
  e2e/admin/stable/public-account-flows-simple.spec.ts
  e2e/admin/stable/public-smoke-simple.spec.ts
  e2e/admin/stable/public-visual-simple.spec.ts
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-about-desktop-chromium-linux.png
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-contact-desktop-chromium-linux.png
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-login-desktop-chromium-linux.png
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-register-desktop-chromium-linux.png
  e2e/fixtures/accessibility.ts
  e2e/fixtures/runtime-guard.ts
  package.json
  packages/shared/src/consts/ui.ts
  packages/ui/src/Routes.tsx
  packages/ui/src/components/Hero/Dots.tsx
  packages/ui/src/components/Hero/Slider.tsx
  packages/ui/src/components/InteractiveElements/InteractiveElements.tsx
  packages/ui/src/components/breadcrumbs/PageTabs/PageTabs.tsx
  packages/ui/src/components/inputs/PasswordTextField/PasswordTextField.tsx
  packages/ui/src/forms/SignUpForm/SignUpForm.tsx
  packages/ui/src/hooks/useAdminForm.test.ts
  packages/ui/src/pages/ContactPage/ContactPage.tsx
  playwright.accessibility.config.ts
  playwright.admin.config.ts
  playwright.shared.ts
  scripts/validate-release.sh
  scripts/validate-trusted.sh
  scripts/validation-receipt.mjs
Due: eslint --fix, prettier --write

Preserve admin edits after failed landing-page saves
  e2e/admin/stable/about-content-simple.spec.ts
  e2e/admin/stable/hero-banner-simple.spec.ts
  e2e/admin/stable/seasonal-content-simple.spec.ts
  e2e/fixtures/runtime-guard.ts
  packages/server/src/rest/api.integration.test.ts
  packages/ui/src/pages/admin/AdminHomepageAbout/AdminHomepageAbout.tsx
  packages/ui/src/pages/admin/AdminHomepageBranding/AdminHomepageBranding.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  packages/ui/src/pages/admin/AdminHomepageLocation/AdminHomepageLocation.tsx
  packages/ui/src/pages/admin/AdminHomepageNewsletter/AdminHomepageNewsletter.tsx
  packages/ui/src/pages/admin/AdminHomepageSeasonal/AdminHomepageSeasonal.tsx
  packages/ui/src/pages/admin/AdminHomepageSections/AdminHomepageSections.tsx
  packages/ui/src/pages/admin/AdminHomepageServices/AdminHomepageServices.tsx
  packages/ui/src/pages/admin/AdminHomepageSocialProof/AdminHomepageSocialProof.tsx
  packages/ui/src/utils/errorMonitoring.ts
  scripts/tests/validation-receipt.bats
Due: eslint --fix, prettier --write

Bootstrap CI validation jobs
  .github/workflows/ci.yml
Due: none

Fix CI fresh runner setup
  .github/workflows/ci.yml
  scripts/validation-receipt.mjs
Due: none

Stabilize CI validation surfaces
  e2e/admin/stable/public-visual-simple.spec.ts
  packages/ui/src/forms/accountForms.test.tsx
  scripts/start-e2e-server.sh
Due: eslint --fix, prettier --write

Bootstrap bats helpers for CI
  scripts/tests/__runTests.sh
  scripts/tests/bootstrap-bats-helpers.sh
Due: none

Bound Lighthouse CI checks
  .github/workflows/ci.yml
  lighthouserc.cjs
Due: none

Pin REST route and homepage section contracts
  packages/server/src/rest/api.integration.test.ts
  packages/server/src/rest/apiInfo.ts
  packages/server/src/rest/index.test.ts
  packages/server/src/rest/index.ts
  packages/shared/src/api/contracts.test.ts
  packages/ui/src/api/rest/client.test.ts
  packages/ui/src/pages/main/HomePage/HomePage.test.ts
  packages/ui/src/pages/main/HomePage/HomePage.tsx
  packages/ui/src/pages/main/HomePage/homeSections.ts
Due: eslint --fix, prettier --write

Clarify validation tiers and Lighthouse services
  README.md
  TESTING.md
  docs/README.md
  package.json
  scripts/lighthouse-local.sh
  scripts/tests/runtime-state.bats
Due: none

Derive responsive hero image candidates
  packages/ui/src/components/Hero/Hero.test.tsx
  packages/ui/src/components/Hero/Hero.tsx
  packages/ui/src/components/Hero/Slider.test.tsx
  packages/ui/src/components/Hero/Slider.tsx
  packages/ui/src/components/Hero/heroImages.test.ts
  packages/ui/src/components/Hero/heroImages.ts
Due: eslint --fix, prettier --write

Split public visitor E2E validation
  .github/workflows/ci.yml
  README.md
  TESTING.md
  docs/lighthouse-ci.md
  lighthouserc.cjs
  package.json
  playwright.admin.config.ts
  playwright.public.config.ts
  scripts/lighthouse-local.sh
Due: none

Harden browser validation gates
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
  README.md
  TESTING.md
  docs/lighthouse-ci.md
  e2e/admin/stable/admin-gallery-simple.spec.ts
  e2e/admin/stable/public-visual-simple.spec.ts
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-home-desktop-chromium-linux.png
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-home-mobile-chromium-linux.png
  e2e/fixtures/runtime-guard.ts
  e2e/pwa.spec.ts
  package.json
  packages/ui/src/components/Hero/Slide.tsx
  packages/ui/src/components/Hero/Slider.test.tsx
  packages/ui/src/components/Hero/Slider.tsx
  playwright.public.config.ts
  playwright.visual.config.ts
  scripts/public-smoke.mjs
  scripts/tests/validation-receipt.bats
  scripts/validation-receipt.mjs
Due: eslint --fix, prettier --write

Require migration rehearsal and deploy smoke
  .github/workflows/ci.yml
  .github/workflows/deploy-rehearsal.yml
  DEPLOYMENT.md
  scripts/deploy-production.sh
  scripts/deploy-readiness.sh
  scripts/deploy-receipt.mjs
  scripts/deploy-safety.sh
  scripts/deploy-smoke.sh
  scripts/rehearse-migrations-from-backup.sh
  scripts/tests/deploy-production.bats
  scripts/tests/deploy-readiness.bats
  scripts/tests/deploy-smoke.bats
  scripts/tests/migration-rehearsal.bats
Due: none

Strengthen validation gates
  .github/workflows/ci.yml
  E2E_TESTING.md
  TESTING.md
  TEST_COVERAGE_MATRIX.md
  docs/lighthouse-ci.md
  e2e/admin/stable/public-smoke-simple.spec.ts
  e2e/fixtures/runtime-guard.ts
  package.json
  packages/server/src/rest/assets.test.ts
  packages/server/vitest.config.mts
  packages/ui/src/pages/admin/adminRoutes.test.ts
  packages/ui/vitest.config.ts
  playwright.production.config.ts
  playwright.shared.ts
  scripts/coverage-summary.mjs
  scripts/tests/coverage-summary.bats
  scripts/tests/validation-receipt.bats
  scripts/validate-trusted.sh
  scripts/validation-receipt.mjs
Due: eslint --fix, prettier --write

Fix public hero assets and compliance link
  packages/ui/src/components/Hero/Hero.tsx
  packages/ui/src/components/Hero/heroImages.test.ts
  packages/ui/src/components/Hero/heroImages.ts
  packages/ui/src/components/navigation/Footer/Footer.tsx
Due: eslint --fix, prettier --write

Add local production runtime validation
  ENVIRONMENT.md
  README.md
  docker-compose.local-production.yml
  docs/local-production-runtime-plan.md
  e2e/admin/stable/about-content-simple.spec.ts
  e2e/admin/stable/contact-info-simple.spec.ts
  e2e/admin/stable/hero-banner-simple.spec.ts
  e2e/admin/stable/public-smoke-simple.spec.ts
  e2e/admin/stable/seasonal-content-simple.spec.ts
  e2e/fixtures/runtime-guard.ts
  e2e/production-local/auth-cookie.spec.ts
  package.json
  packages/server/src/auth.ts
  packages/server/src/config/runtimePolicy.cors.test.ts
  packages/server/src/config/runtimePolicy.test.ts
  packages/server/src/config/runtimePolicy.ts
  packages/server/src/index.ts
  packages/server/src/middleware/csrf.ts
  packages/server/src/middleware/rateLimiter.test.ts
  packages/server/src/middleware/rateLimiter.ts
  packages/ui/scripts/serve-production.js
  packages/ui/scripts/verify-pwa.js
  packages/ui/src/index.tsx
  packages/ui/src/serviceWorkerRegistration.ts
  packages/ui/src/sw-template.js
  packages/ui/src/utils/serverUrl.test.ts
  packages/ui/src/utils/serverUrl.ts
  playwright.production-local.config.ts
  scripts/build.sh
  scripts/start-e2e-server.sh
  scripts/start-local-production.sh
Due: eslint --fix, prettier --write

docs: document gallery image removal plan
  docs/gallery-image-deletion-plan.md
Due: none

feat: remove gallery labels without deleting images
  packages/server/src/rest/accountGalleryContracts.integration.test.ts
  packages/server/src/rest/images.test.ts
  packages/server/src/rest/images.ts
  packages/server/src/utils/imageLabels.test.ts
  packages/server/src/utils/imageLabels.ts
  packages/server/src/utils/index.ts
  packages/shared/src/api/contracts.test.ts
  packages/shared/src/api/contracts.ts
  packages/shared/src/api/routes.ts
  packages/ui/src/api/rest/client.ts
  packages/ui/src/api/rest/hooks.ts
  packages/ui/src/pages/admin/AdminGalleryPage/AdminGalleryPage.test.tsx
  packages/ui/src/pages/admin/AdminGalleryPage/AdminGalleryPage.tsx
Due: eslint --fix, prettier --write

test: stabilize local production auth checks
  e2e/production-local/auth-cookie.spec.ts
  scripts/start-local-production.sh
Due: none

Harden admin media save flows
  packages/server/src/rest/landingPage.integration.test.ts
  packages/server/src/rest/landingPage.ts
  packages/ui/src/components/Dropzone/Dropzone.test.tsx
  packages/ui/src/components/Dropzone/Dropzone.tsx
  packages/ui/src/components/cards/ImageCard/ImageCard.tsx
  packages/ui/src/components/lists/ImageList/ImageList.test.ts
  packages/ui/src/components/lists/ImageList/ImageList.tsx
  packages/ui/src/components/lists/ImageList/imageListOrder.ts
  packages/ui/src/components/lists/WrappedImageList/WrappedImageList.test.tsx
  packages/ui/src/hooks/useAdminForm.test.ts
  packages/ui/src/hooks/useAdminForm.ts
  packages/ui/src/pages/admin/AdminGalleryPage/AdminGalleryPage.test.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/AdminHomepageHeroBanner.tsx
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/heroBannerFormState.test.ts
  packages/ui/src/pages/admin/AdminHomepageHeroBanner/heroBannerFormState.ts
Due: eslint --fix, prettier --write

Cover admin media ordering in E2E
  e2e/admin/stable/admin-gallery-simple.spec.ts
  e2e/admin/stable/hero-banner-simple.spec.ts
  e2e/admin/stable/seasonal-content-simple.spec.ts
  e2e/fixtures/test-data.ts
  e2e/hero-data.setup.ts
Due: none

Harden PWA service worker update reload policy
  e2e/pwa.spec.ts
  packages/ui/scripts/verify-pwa.js
  packages/ui/src/hooks/useAdminForm.test.ts
  packages/ui/src/hooks/useAdminForm.ts
  packages/ui/src/index.tsx
  packages/ui/src/pwaReloadSafety.test.ts
  packages/ui/src/pwaReloadSafety.ts
  packages/ui/src/pwaUpdatePolicy.test.ts
  packages/ui/src/pwaUpdatePolicy.ts
  packages/ui/src/sw-template.js
  packages/ui/workbox-build.js
  playwright.pwa.config.ts
Due: eslint --fix, prettier --write

Add deployed PWA header smoke checks
  E2E_TESTING.md
  package.json
  scripts/check-pwa-headers.sh
  scripts/deploy-smoke.sh
  scripts/tests/check-pwa-headers.bats
  scripts/tests/deploy-smoke.bats
Due: none

Harden API rate limiting behind proxies
  e2e/admin/stable/hero-banner-simple.spec.ts
  packages/server/src/__tests__/integrationUtils.ts
  packages/server/src/app.test.ts
  packages/server/src/app.ts
  packages/server/src/config/proxyTrust.test.ts
  packages/server/src/config/proxyTrust.ts
  packages/server/src/index.ts
  packages/server/src/middleware/clientIdentity.test.ts
  packages/server/src/middleware/clientIdentity.ts
  packages/server/src/middleware/csrf.ts
  packages/server/src/middleware/imageFileCountLimiter.test.ts
  packages/server/src/middleware/proxyTopology.integration.test.ts
  packages/server/src/middleware/rateLimitPolicies.test.ts
  packages/server/src/middleware/rateLimitPolicies.ts
  packages/server/src/middleware/rateLimitStores.integration.test.ts
  packages/server/src/middleware/rateLimitStores.test.ts
  packages/server/src/middleware/rateLimitStores.ts
  packages/server/src/middleware/rateLimiter.test.ts
  packages/server/src/middleware/rateLimiter.ts
  packages/server/src/rest/api.integration.test.ts
  packages/server/src/rest/assets.ts
  packages/server/src/rest/auth.ts
  packages/server/src/rest/dashboard.integration.test.ts
  packages/server/src/rest/images.test.ts
  packages/server/src/rest/images.ts
  packages/server/src/rest/index.test.ts
  packages/server/src/rest/index.ts
  packages/server/src/rest/newsletter.integration.test.ts
  packages/server/src/rest/newsletter.ts
  packages/server/src/utils/auditLogger.test.ts
  packages/server/src/utils/auditLogger.ts
  packages/shared/src/api/limits.ts
Due: eslint --fix, prettier --write

Add production rate-limit deployment gates
  .env-example
  ENVIRONMENT.md
  SECURITY_ARCHITECTURE.md
  TEST_COVERAGE_MATRIX.md
  docker-compose-prod.yml
  docs/api/rest-api.md
  docs/architecture/overview.md
  docs/rate-limit-hardening-plan.md
  docs/rate-limit-production-validation-action-plan.md
  scripts/check-rate-limit-config.sh
  scripts/deploy-readiness.sh
  scripts/tests/check-rate-limit-config.bats
  scripts/tests/deploy-readiness.bats
  scripts/tests/validate-env.bats
  scripts/validate-env.sh
Due: none

Add rate-limit proxy smoke check
  ENVIRONMENT.md
  TEST_COVERAGE_MATRIX.md
  docs/architecture/overview.md
  docs/rate-limit-hardening-plan.md
  scripts/rate-limit-proxy-smoke.mjs
  scripts/tests/rate-limit-proxy-smoke.bats
Due: none

chore: refresh dependencies and compose config
  docker-compose-prod.yml
  docker-compose.local-production.yml
  docker-compose.yml
  package.json
  packages/server/package.json
  packages/shared/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier --write

fix: use exact hero image sources
  e2e/admin/stable/hero-banner-simple.spec.ts
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-home-desktop-chromium-linux.png
  e2e/admin/stable/public-visual-simple.spec.ts-snapshots/public-home-mobile-chromium-linux.png
  packages/ui/src/components/Hero/Hero.test.tsx
  packages/ui/src/components/Hero/heroImages.test.ts
  packages/ui/src/components/Hero/heroImages.ts
  packages/ui/src/components/Image/ImageWithFallback.test.tsx
  packages/ui/src/components/Image/ImageWithFallback.tsx
Due: eslint --fix, prettier --write
